body{
    margin: 0px;
    padding: 0px;
    background-image: url(images/background.jpg);
}
header{
    width: 100%;
    height: 50px;
    background-color: rgb(0, 53, 167);
}
#header-h{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 30px;
    color: rgb(241, 255, 255);
    font-family: mukta;
}
.hide{
    display: none;
}
#potezi{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}
#forma{
    width: 300px;
    height: 160px;
    margin: auto;
    margin-top: 50px;
}
#unos{
    width: 200px;
    height: 70px;
    border-radius: 20px;
    border: 2px solid rgb(0, 102, 143);
    background-color: rgba(0, 225, 255, 0.199);
    margin: auto;
    display: block;
    text-align: center;
    font-size: 50px;
    color: rgb(15, 0, 151);
}
#proveri{
    width: 210px;
    height: 40px;
    margin-top: 20px;
    border-radius: 12px;
    background-color: rgb(141, 141, 241);
    margin: auto;
    display: block;
    color: rgb(209, 255, 255);
    font-size: 20px;
    font-weight: bold;
}
#rezultat{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: rgb(0, 34, 109);
}
.reload{
    margin: auto;
    display: block;
    width: 100px;
    margin-top: 10px;
}

@font-face {
    font-family: mukta;
    src: url(fonts/Mukta-SemiBold.ttf);
}


.hide{
    display: none;
}

.red{
    color: red;
}
.blue{
    color: rgb(182, 182, 255);
}