body{
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#forma{
    width: 1000px;
    height: 400px;
    border: 2px solid rgb(76, 138, 219);
    background-color: rgb(108, 121, 133);
    margin: auto;
    border-radius: 10px;
}
#label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(235, 235, 235);
}
#unos1, #unos2, #unos3, #unos4, #ispis{
    margin-left: 12px;
    margin-bottom: 10px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
}
#dodaj{
    display: block;
    margin: auto;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 15px;
}
#dodaj:hover{
    background-color: rgb(211, 209, 209);
}
#automobili_stari, #automobili_noviji, #automobili_novi{
    border: 1px solid #000;
    background-color: #d1d1d1;
    width: 500px;
    float: left;
}
#ispis{
    color: #fff;
}
.sekcija_h3{
    text-align: center;
}
.sadrzaj_text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 12px;
}

.red{
    background-color: #f00;;
}
.text-center{
    text-align: center;
}
.input-background{
    background-color: #f8f8f8;
}